@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-brand-blue: #2563eb;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-300);
    border-radius: 20px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-700);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-neutral-400);
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-neutral-600);
  }
}